* { 
    box-sizing: border-box;
}

body { 
    margin: 0;
    font-family: Inter; 
    background: #23252C;
}

ul, li { 
    list-style-type: none;
}

a { 
    text-decoration: none;
}

#root {
    
    height: 100vh;
}
