// Repeated code, mixin

@mixin main__btn { 
    width: 115px;
    // display: inline-block;
    height: 35;
    // padding: 3% 6% 3% 6%;
    line-height: 35px;
    border-radius: 6px;
    display: inline-block;
    text-align: center;
}

// Styles

.buttons {
    text-align: center; 
    margin-bottom: 30px;
}

.main__btn-email { 
    color: #1e1f26;
    background: #fff;
    border: 1px solid #D1D5DB;
    @include main__btn;
    margin-right: 8.5px; 
    margin-left:8.5px;
}

.main__btn-linkedin {
    color: #fff;
    background: #5093e2;
    @include main__btn;
    border: 1px solid #5093e2;
    margin-left:8.5px;
    margin-right:8.5px;
}

.main__btn-email > i, .main__btn-linkedin > i {
    margin-right: 10px;
}